html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  font-size: 17px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  display: block;
  border: none;
  flex: 2;
}

section {
  flex: 1;
  display: flex;
  overflow: hidden;
}

textarea {
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  display: block;
  border: 0;
  resize: none;
  outline: 0;
}

#blocks {
  background: #f8f8f8;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 15px;
  flex: 1;
  overflow: auto;
  white-space: pre-wrap;
}

#blocks.ready {
  white-space: normal;
  color: #ccc;
}

#blocks.error {
  color: #c00;
}

#send {
  background: #283;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  display: block;
  right: 20px;
  bottom: 20px;
  padding: 5px 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

#send:hover {
  background: #394;
}

#send.disabled {
  opacity: 0.25;
  pointer-events: none;
}
